<navbar>
  <div></div>
  <h2>Agregar nueva imagen:</h2>
  <%= link_to 'Volver al listado', photos_path, class: "btn btn-primary" %>
</navbar>

<%= simple_form_for @photo do |f| %>
  <%= f.input :title, label: 'Titulo:', error: 'El titulo no puede estar en blanco o repetirse' %>
  <%= f.input :picture, label: 'Elegir imagen:' %>
  <%= f.button :submit, 'Crear', class: "btn btn-success" %>
<% end %>
